<section (click)="cancel()">
  <div class="modal" (click)="$event.stopImmediatePropagation()">
    <header>
      <h1>Add new todo</h1>
      <button title="Cancel" class="bx bx-plus" (click)="cancel()"></button>
    </header>
    <form #newListForm="ngForm">
      <fieldset>
        <label>
          Title:
          <input name="title" [(ngModel)]="title" required />
        </label>
        <label>
          Completed:
          <input name="completed" type="checkbox" [(ngModel)]="completed" />
        </label>
      </fieldset>
      <button
        title="Add todo"
        type="submit"
        class="bx bx-plus"
        [disabled]="!newListForm.valid"
        (click)="createNewTodo($event)"></button>
    </form>
  </div>
</section>
