<h2>Products Component</h2>

<button
  mat-button
  routerLinkActive="active-link"
  ariaCurrentWhenActive="page"
  queryParamsHandling="merge"
  [queryParams]="{ showModel: true }"
  [routerLink]="[customizeLink, 3]">
  Product Customization
</button>

<button
  mat-button
  routerLinkActive="active-link"
  ariaCurrentWhenActive="page"
  queryParamsHandling="merge"
  [routerLink]="[{outlets}]"
  queryParamsHandling="merge">
  Product Cart Outlet
</button>

<button
  mat-button
  routerLinkActive="active-link"
  ariaCurrentWhenActive="page"
  queryParamsHandling="merge"
  [routerLink]="[notAuthLink]"
  queryParamsHandling="merge">
  Product Not Auth
</button>

<router-outlet></router-outlet>

<router-outlet [name]="PRODUCTS_ROUTER_TOKENS.CART"></router-outlet>
