<div id="app"></div>

<div>
  <input id="themeInput" type="checkbox" />
  <label for="themeInput">Dark Theme</label>
</div>

<div>
  <p>Espresso</p>
  <span>is good</span>
</div>

<div id="list-container">
  <p class="list-item">Item 1</p>
  <p class="list-item">Item 2</p>
  <p class="list-item">Item 3</p>
</div>

<div id="menu">
  <button id="btn-1" class="btn">Button 1</button>
  <button id="btn-2" class="btn">Button 2</button>
</div>

<button id="coffeesButton">Coffees</button>
<button id="shopsButton">Shops</button>
<div id="output"></div>

<h1>Wired Brain Coffee</h1>
<h2>Shopping list</h2>
<div>
  <input id="itemInput" type="text" />
  <button id="addButton">Add</button>
</div>
<ul id="list"></ul>
